.examples {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.examples__filter {
  margin-bottom: 60px;
}

.examples__filter-cat {
  text-align: center;
  padding: 0 66px;
  padding-left: 98px;
  margin-bottom: 22px;
}

.examples__filter-cat-btn {
  padding: 12px 13px;
  margin-right: 8px;
  margin-bottom: 5px;
}

.examples__filter-radio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.examples__filter-radio-state {
  outline: none;
  max-width: 102px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;

  &:hover,
  &:active {
    color: darken($color-base, 10%);
  }

}

.examples__filter-radio-btn {
  width: 58px;
  margin: 0 25px;
}

.examples__filter-radio-btn-slider {
  display: block;
  width: 18px;
  background-color: $color-base;
  border-radius: 50%;
  height: 18px;
  transition: transform 0.3s;

  &--take {
    transform: translateX(170%);
  }
}

.examples__partners {
  width: 100%;
  text-align: center;
  margin-bottom: 120px;
}

.examples__partners-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.examples__partners-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: $color-white;
  border-radius: 8px;
  padding: 20px;
  width: 218px;
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: 0 0 15px #7A8080;

    .examples__partners-card-image {
      transform: scale(1.05);
    }
  }
}

.examples__partners-card-percent {
  align-self: flex-start;
  margin-bottom: 4px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
}

.examples__partners-card-slogan {
  font-size: 12px;
  margin-bottom: 27px;
  line-height: 15px;
  opacity: 0.4;
}

.examples__partners-card-image {
  margin-bottom: 18px;
  transition: transform 0.3s;
}

.examples__partners-card-title {
  font-size: 16px;
  line-height: 20px;
  opacity: 0.5;
}

.examples__partners-btn {
  padding: 10px 20px;
}

.examples__offer {
  width: 100%;
  text-align: center;
  margin-bottom: 118px;
}

.examples__offer-title {
  padding: 0 158px;
  margin-bottom: 34px;
}

.examples__offer-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 -30px;
  margin-bottom: 50px;
  padding: 0 30px;
  overflow: hidden;
}

.examples__offer-card {
  max-width: 377px;
  text-align: left;
  display: block;
  transition: 700ms;
}

.examples__offer-card-image {
  img {
    margin-bottom: 15px;
    border-radius: 6px;
  }
}

.examples__offer-card-logo {
  margin-right: 15px;
}

.examples__offer-card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.examples__offer-card-info-name {
  font-size: 14px;
  line-height: 20px;
  opacity: 0.5;
}

.examples__offer-btn {
  position: absolute;
  right: 0;
  top: 110px;

  &--prev {
    left: 0;
    right: auto;
  }
}

.examples__offer-more-btn {
  margin: 0 auto;
  padding: 10px 20px;
}
